<template name="chooseRestaurant">
  {{#page title="Choose Restaurant"}}
    <form id="choose-restaurant-form">
      <div class="ui input">
        <input class="" id="restaurant-input" type="text" placeholder="Restaurant Name">
      </div>
      <table class="ui selectable table">
      <tbody>
        {{#each yelpResults}}
          {{> yelpRestaurant}}
        {{/each}}
      
      </tbody>
    </table>

      <button class="ui massive button" id="add-restaurant-button">Add Restaurant</button>
    </form>
  {{/page}}
</template>

<template name="yelpRestaurant">
  <tr class="yelp-result-li">
  <td>
    {{name}}
  </td>
  <td>
    {{location.address}}
  </td>
  <td>
    {{location.city}}
  </td>

  </tr>
</template>