<template name="chooseRestaurant">
  {{#page title="Choose a Restaurant in San Francisco"}}
    <form class="ui form" id="choose-restaurant-form">
      <div class="field ui big input fluid">
        <input id="restaurant-input" type="text" placeholder="Restaurant Name, Cuisine" maxlength="40">
      </div>
      <table class="ui padded selectable table">
        <tbody>
          {{#each yelpResults}}
            {{> yelpRestaurant}}
          {{/each}}
        </tbody>
      </table>
      <button class="fluid ui big button" id="add-restaurant-button">Add Restaurant</button>
    </form>
  {{/page}}
</template>

<template name="yelpRestaurant">
  <tr class="yelp-result-li">
    <td>
      {{name}}
    </td>
    <td>
      {{location.address}}<br>{{location.city}}
    </td>
  </tr>
</template>