<template name="registerModal">
  <div class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
      Please enter your name to join!
    </div>
    <div id="register-modal-form" class="content">
      <div class="ui form">
        <div class="field">
          <div class="ui big input left icon">
            <input id="register-modal-input" class="ui inverted input" type="text" placeholder="Your name">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="ui actions input">
          <button type="submit" class="ui positive inverted big button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>