<template name="login">
  {{#page title="Join us for lunch!"}}
  <form id="login-form" class="ui form">
    <div class="field">
        <div class="ui big input left icon">
          <input type="text" id="group-input" placeholder="Group Name" maxlength="40">
          <i class="users icon"></i>
        </div>
    </div>
    <div class="field">
        <div class="ui big input left icon">
          <input type="text" id="username-input" placeholder="Your Name" value="{{username}}"  maxlength="40">
          <i class="user icon"></i>
        </div>
    </div>
    <div class="field">
      <button type="submit" class="fluid ui big button" id="join-button">Join Now</button>
    </div>
  </form>
  {{/page}}
</template>





